.cards {
  margin: 40px auto 0;
  max-width: 880px;
}

@media only screen and (max-width: 908px) {
  .cards {
    margin: 40px 20px 0;
  }
}

@media only screen and (max-width: 619px) {
  .cards {
    margin: 40px auto 0;
    width: 280px;
  }
}

.cards__list {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 16px;
  column-gap: 20px;
  padding: 0;
}

@media only screen and (max-width: 909px) {
  .cards__list {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.cards__card {
  background-color: #fff;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 280px;
}

.cards__image {
  height: 282px;
  object-fit: cover;
  width: 100%;
}

.button {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.cards__info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
}
.cards__title {
  font-family: Inter;
  font-weight: 900;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards__like-btn {
  background-image: url(../images/Corazon-D.svg);
  cursor: pointer;
  height: 19px;
  width: 21px;
}

.cards__like-btn:hover {
  opacity: 0.6;
}

.cards__like-btn--active {
  background-image: url(../images/Corazon-A.svg);
}

.cards__trash-btn {
  background-image: url(../images/Trash.svg);
  cursor: pointer;
  height: 18px;
  width: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

.cards__trash-btn:hover {
  opacity: 0.6;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}

.cards__window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__window-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cards__window-img {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.cards__window-caption {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin: 0;
  display: block;
  width: 100%;
}

.cards__exit-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: -43px;
  top: -43px;
  z-index: 2;
  cursor: pointer;
}

.cards__exit-btn:hover {
  opacity: 60%;
}

@media only screen and (max-width: 619px) {
  .cards__exit-btn {
    height: 26px;
    width: 26px;
    right: 8px;
  }
  .popup-card__exit-icon {
    height: 26px;
    width: 26px;
  }

  .cards__window-container {
    width: 85%;
    max-height: 85vh;
  }

  .cards__window-img {
    max-height: 85vh;
  }
}
